<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <connectionStrings>
        <add name="EchildCareConnectionString" connectionString="Data Source=Aryan-PC;Initial Catalog=EchildCare;User ID=sa;Password=lbef"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" />
    </system.web>


 <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>

    <add key="myconnection" value="server=Aryan-PC;UID=sa;Pwd=lbef;Database=EchildCare"/>
  </appSettings>
</configuration>
